<%= form_with model: obj do |form| %>
  <div> 
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% obj.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% obj.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>