<h1>Welcome to our home page</h1>

<h1 class= "title">Blogs</h1>
<ul>
<% @blogs.each do |blog| %>
  <li><%= blog.title %>
  created by: <%= blog.user.email %>
  <%= truncate(blog.body, length: 40) %>
  Created: <%= formatted_timestamp(blog.created_at) %>
  <%= link_to "See the blog", blog %>
  <% end %>
  </li>
</ul>
<br>
<%= link_to "Home", root_path %>  
<% if user_signed_in? || current_user&.admin %> 
  | <%= link_to "New Blog", new_blog_path %>
<% end %>
</div>