<div id="top"></div>
<h1 class="text-center display-3" style="font-weight: bold">Welcome to our home page</h1>

<h1 class="title">Blogs</h1>

<div class="card-deck">
  <% @blogs.each do |blog| %>
    <div class="card mb-3">
      <div class="card-header"><%= blog.title %></div>
      <div class="card-body">
        <p class="card-text">Created by: <%= blog.user.email %></p>
        <p class="card-text"><%= truncate(blog.body, length: 40) %></p>
        <p class="card-text">Created: <%= formatted_timestamp(blog.created_at) %></p>
        <%= link_to "See the blog", blog, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
<div class="bottom-buttons">
  <a href="#top" class="btn btn-secondary btn-sm">Go to Top</a>
  <% if user_signed_in? || current_user&.admin %> 
    | <%= link_to "New Blog", new_blog_path, class: "btn btn-success btn-sm" %>
  <% end %>
</div>
