<h1>Hello, welcome to admin section</h1>

<ul>
<% @users.each do |user| %>
  <li><%= user.id %>-<%= user.email %></li>
      <ul>
      <% user.blogs.each do |blog| %>
       <li><%= blog.title %>
       <%= link_to "Destroy", blog_path(blog), 
                   data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?",
                          class: "btn btn-danger"
                    } 
                %>
       </li>
       <ul>
         <% blog.comments.each do |comment| %>
          <li> <%= comment.body%>
               <%= link_to "Destroy Comment", [comment.blog, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                  } %>
          </li>
         <% end %>   
        </ul>
      <% end %>
    </ul>
<% end %>
</ul>
  